# Backend
MONGODB_URI=mongodb+srv://USER:PASS@HOST/DB?retryWrites=true&w=majority
PORT=3001
APP_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000

# Frontend (Astro)
PUBLIC_API_URL=http://localhost:3001
