# Backend
MONGODB_URI=mongodb+srv://USER:PASS@HOST/DB?retryWrites=true&w=majority
PORT=3001
APP_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
POSTMARK_API_TOKEN=your-postmark-server-token
POSTMARK_FROM=you@yourdomain.com
POSTMARK_MESSAGE_STREAM=outbound
